.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__user-id
        masa
      %ul.side-bar__user-name__top-items__icons
        = link_to new_group_path do
          %li= icon('far', 'edit', class: 'side-bar__user-name__top-items__icons--pen')
        = link_to "#" do
          %li= icon('fas', 'cog', class: 'side-bar__user-name__top-items__icons--gear')
  .side-bar__group-list
    -  current_user.groups.each do |group|
      .side-bar__group-list__info
        =  link_to group_messages_path(group) do
          .side-bar__group-list__info__top
            = group.name
          .side-bar__group-list__info__center
            = group.show_last_message